:host {
  display: block;
}

img {
  width: 64px;
  background: #ddd;
  float: left;
  margin-right: 1em;
}

.imgCircle {
  border-radius: 50%;
}

.username {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
}
