:host {
  display: inline-block;
  float: right;
  z-index: 2;
  position: relative;
}

.caret {
  width: 25px;
  display: inline-block;
}

.card-actions-list {
  position: absolute;
  top: 10%;
  right: 0;
  list-style: none;
  padding-left: 0;
  display: none;
  border: 1px solid #ddd;
  background: white;

  &.is-visible {
    display: block;
  }
  > li {
    white-space: nowrap;

    &:first-child {
      margin-top: 1em;
    }

    a {
      padding: .6em 2em;
      display: block;
      text-decoration: none;
      color: #222;
      &:hover {
        background: #EEE;
      }
    }
  }
}


.action-button {
  float: right;
}
