:host {
  display: inline-block;
  border: 1px solid #ccc;
  border-bottom-width: 4px;
  border-radius: 4px;
  padding: 15px;
  width: 450px;
  position: relative;
  background: white;
  margin: 1em;
}

