:host {
  display: block;
}

.post-button {
  border: none;
  background: #53a93f;
  border-radius: 2px;
  border: 1px solid;
  color: white;
  font-weight: bold;
  padding: .4em 1em;
}

.cancel-button {
  border: none;
  background: white;
  border-radius: 2px;
  border: 1px solid;
  font-weight: bold;
  padding: .4em 1em;
}
